<div class="container">

  <div class="row">
    <div class="col-md-6">
      <h1>WeNode Dinner</h1>
    </div>
    <div class="col-md-6">
      <div class="mostimportant">
        <span class="when">21.00h</span><br />
        <span class="where">Tasca i Vins, c/ Diputació 304</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <h3>We are welcome to the WeNode dinner!</h3>
      <ul>
        <li>We go toghether to <a href="http://www.tascaivins.cat/?page_id=39" target="_blank">Tasca i Vins</a> restaurant</li>
        <li>19.50€ <a href="http://www.tascaivins.cat/?page_id=438" target="_blank">Menu</a></li>
      </ul>
      <br>
      <h3>Menu</h3>
      <ul>
        <li>Assorted pates, cheeses, and <i>embutidos</i></li>
        <li>Bread with tomato and garlic</li>
        <li>Grill: chicken, lamb, tenderloin, rabbit, sausages</li>
        <li>Potatoes and beans</li>
        <li>Sangria or 1/2 of beer per person</li>
        <li>Icecream, coffee and water</li>
      </ul>
    </div>{{!-- /.col --}}

    <div class="col-sm-6"  style="text-align: center">
        <a href="https://www.google.com/maps/place/Tasca+I+Vins/@41.393574,2.171461,15z/data=!4m2!3m1!1s0x0:0xace9aa48bd68f76b" target="_blank">
          <div class="hexagon hexagon-tile" style="background-image: url({{assets}}/images/tascaivins-map.png);">
          <div class="hexTop"></div>
          <div class="hexBottom"></div>
        </div>
      </a>
        <br>
        <div class="hexagon hexagon-tile" style="background-image: url({{assets}}/images/tascaivins-1.png);">
          <div class="hexTop"></div>
          <div class="hexBottom"></div>
        </div>
        <div class="hexagon hexagon-tile" style="background-image: url({{assets}}/images/tascaivins-2.png);">
          <div class="hexTop"></div>
          <div class="hexBottom"></div>
        </div>
        <br>
        <div class="hexagon hexagon-tile" style="background-image: url({{assets}}/images/tascaivins-3.png);">
          <div class="hexTop"></div>
          <div class="hexBottom"></div>
        </div>
        <br>
        <br>
        <br>
        <br>
    </div>{{!-- /.col --}}
  </div>{{!-- /.row --}}

</div>{{!-- /.container --}}


{{> spacer }}

<br><br>

  {{> exits }}

<br><br>


<div class="container">
  <section class="meta row">
    <div class="col-xs-12 text-center">
      <h4>A BarcelonaJS event. <a href="http://barcelonajs.org/code">Code of Conduct</a></h4>
      <a href="http://barcelonajs.org"><img class="header-logo" src="/assets/images/logo.png" alt="logo" /></a>
    </div>
  </section>
</div>
